.modal {
  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
  @apply bg-slate-100;
}

.modal::backdrop {
  background: hsl(0 0% 0% / 50%);
}

.modal-close-btn {
  font-size: 1em;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}
